<div class="auth-wrapper">
  <div class="auth-card">
    <h2>Crear nueva cuenta</h2>
    <p>Únete a la experiencia Hotelink</p>

    <div *ngIf="mensajeError" class="alert error">{{ mensajeError }}</div>
    <div *ngIf="mensajeExito" class="alert success">{{ mensajeExito }}</div>

    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="form-grupo">
        <label>Nombre de usuario</label>
        <input type="text" name="nombre" [(ngModel)]="registroData.nombre" required placeholder="Tu nombre de usuario">
      </div>

      <div class="form-grupo">
        <label>Correo electrónico</label>
        <input type="email" name="email" [(ngModel)]="registroData.email" required 
              placeholder="tu@email.com"
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              #emailInput="ngModel"
              [class.input-error]="emailInput.invalid && emailInput.touched">
        <div *ngIf="emailInput.invalid && emailInput.touched" class="alert error">
          Introduce un correo electrónico válido.
        </div>
      </div>

      <div class="form-grupo">
        <label>Contraseña</label>
        <input type="password" name="password" [(ngModel)]="registroData.password" required placeholder="Mínimo 4 caracteres">
      </div>

      <div class="form-grupo">
        <label>Repetir contraseña</label>
        <input type="password" name="password2" [(ngModel)]="confirmarPassword" 
              required placeholder="Repite tu contraseña"
              [class.input-error]="passwordNoCoincide()">
      </div>

      <div *ngIf="passwordNoCoincide()" class="alert error">
        Las contraseñas no coinciden.
      </div>

      <button type="submit" class="btn-auth" [disabled]="!registerForm.valid">
        Crear cuenta
      </button>
    </form>

    <div class="auth-footer">
      <p>¿Ya tienes cuenta?</p>
      <button (click)="volverAlLogin()" class="btn-secundario">
        Iniciar sesión
      </button>
    </div>
  </div>
</div>